/*Global*/
/*quita los espacios de los margenes*/
*{
    margin: 0;
    padding: 0;
    }
body{
    font-family: arial;
    background-color: #282a36;
    color:#f8f8f2;
    padding-left: 25px;
}
p{
    line-height: 2;
    
}
a{
    color:black;
    text-decoration: none; 
  }
  h2{
    text-align: center;
    font-size: 40px;
  }
/*Tabla*/
table{
    width: 90%;
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: 20px;
    /*margin-left: 8%;*/
    text-align: center;
}
td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}
 th{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
/*Utilities*//*active es para que cuando una pag esté activa cambie el color*/
.active{
    color: rgb(12, 116, 121);
    font-weight: bold;
       }
    text-primary{
        color:#f8f8f2;  
    }
    .text-secondary{
        color: rgb(12, 116, 121);
    }
    .container-about{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
                   }
    .container-list{
        width: 20%;
        margin-left: 10%;
                   }  
    .container-list-2{
        width: 100%;
       
                    }                           

/*Nav*/
.menu-nav{
    height: 60px;
    background-color: #f8f8f2;
    padding-left: 45px;
}
/*Con la siguiente clase del menú de navegación , agregamos espacio entre las palabras(a= los links)*/
.menu-nav a{
margin-right: 30px;
}
.menu-nav a:hover{/*cambia el color cuando se pasa el mouse*/
    color: rgb(164, 164, 214);
}

/*Header*/
.my-info{
    padding-top: 30px;
    text-align: center;
    margin-right: 5%;
}    
.my-info img{
        display: block; /*te hace la imagen como un bloque, no como una linea*/
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .my-info h1{
       font-weight: 400;
       font-size: 42px;   
    }
    .my-info p{
        font-size: 22px;
    }
    /*Main*/
    .main-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70vh;

    }  
    header{
        width: 40;
    }  
    .intereses-flex{
        display: flex;
        justify-content: flex-start;
        
    }
    /*Publicaciones*/
    .publication-title{
        color:  rgb(12, 116, 121);
        font-size: 20px;
        font-weight: 400;
    }
    .publicatios-author{
        color: white;
        font-size: 14px;
     }
    .publication-link {
        color:  rgb(12, 116, 121);
        border: 1px solid rgb(12, 116, 121);
        border-radius: 3px;
        padding: 3px;
        font-size: 12px;
        margin-right: 5px;

    }
    .publication-title:hover {
        text-decoration:underline;
        cursor:pointer;

    }
    .publicatios-author:hover {
        color:  rgb(12, 116, 121);
        text-decoration:underline;
        cursor:pointer;

    }
    .publication-link:hover {
        background-color:  rgb(12, 116, 121);
        color:white;
        cursor:pointer;

    }